<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="my.first.plugin"
   name="My First Plugin"
   version="1.0"
   provider-name="FTN Team X"
   class="myplugin.MyPlugin">
   <requires>
      <api version="1.0" />
   </requires>
   <runtime>
      <library name="myplugin.jar" />
      <library name="freemarker-2.3.32.jar" />
      <library name="lombok-1.18.30.jar" />
   </runtime>
</plugin>